@font-face {
  font-family: "iconfont"; /* Project id 3847283 */
  src: url('iconfont.woff2?t=1672581036829') format('woff2'),
       url('iconfont.woff?t=1672581036829') format('woff'),
       url('iconfont.ttf?t=1672581036829') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\fff";
}

